:root {
  font-family: 'VT323', monospace;
  background-color: #0000AA;
  color: #00AAAA;

  --screen-width-chars: 42;
  --screen-height-chars: 24;
}

body { 
  margin: 0; 
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-title {
  text-align: center;
  font-size: 10px;
  line-height: 1;
  color: #55FFFF;
  white-space: pre;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(var(--screen-width-chars), 1fr);
  grid-template-rows: repeat(var(--screen-height-chars), 1fr);
  
  /* TEST: All sizing rules have been removed. JS is now in control. */
  
  background-color: #0000AA;
  border: 3px solid #AAAAAA;
  border-image: linear-gradient(to bottom, #FFFF55, #AAAAAA) 1;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.header, .card, .card-slot, .hand-card, .button, .unit, .ui-text {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}

.card.selected, .hand-card.selected {
  color: #FFFF55;
}

.header {
  color: #FFFFFF;
}

.unit {
  color: #FFFFFF;
}

.selected-char {
  color: #FFFF55;
}